#contentSkill {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  border: black 2px solid;
}
